<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="hide-it.xsl" type="text/xsl"?>

<item>
<title>UFC Prelims And Main Fight Live</title>
<link>https://www.livedoomovies.com/02_BTSPORTHD_1_720p/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/uZCTldR.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>UFC Prelims And Main Fight Live</title>
<link>http://77.83.117.60:8888/02_BTSPORTHD_1_720p/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/uZCTldR.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>UFC Prelims And Main Fight Live</title>
<link>https://laos-tech-live.b-cdn.net/uk-btsport1hd_720/index.m3u8</link>
<thumbnail>https://i.imgur.com/uZCTldR.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

item>
<title>Six Nations Rugby</title>
<link>http://s1.mainevents.icu:8000/live/239021AM4884820/47212021AM4784345/1448.m3u8</link>
<thumbnail>https://i.imgur.com/uZCTldR.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

item>
<title>Six Nations Rugby</title>
<link>http://s1.mainevents.icu:8000/live/239021AM4884820/47212021AM4784345/1448.ts</link>
<thumbnail>https://i.imgur.com/uZCTldR.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>
