<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="hide-it.xsl" type="text/xsl"?>

<item>
<title>Bein Sports 1 (English)</title>
<link>https://www.livedoomovies.com/02_epl1_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 1 (English)</title>
<link>http://77.83.117.60:8888/02_epl1_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>
 
<item>
<title>Bein Sports 2 (English)</title>
<link>https://www.livedoomovies.com/02_epl2_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 2 (English)</title>
<link>http://77.83.117.60:8888/02_epl2_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 1</title>
<link>http://ferrarico.referrari.com/live/60091_.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 2</title>
<link>http://ferrarico.referrari.com/live/60092_.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 3</title>
<link>http://ferrarico.referrari.com/live/60093_.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports Extra</title>
<link>http://service-stitcher.clusters.pluto.tv/stitch/hls/channel/5df975e2b27cf5000921c102livestitch/1302083/playlist.m3u8?terminate=false&embedPartner=&serverSideAds=&paln=&includeExtendedEvents=false&architecture=&deviceId=5df975e2b27cf5000921c102&deviceVersion=DNT&appVersion=DNT&deviceType=web&deviceMake=web&sid=740&advertisingId=&deviceLat=0&deviceLon=0&deviceDNT=0&deviceModel=web&userId=&appName=web&app_name=&buildVersion=&appStoreUrl=&marketingRegion=US&profilesFromStream=true&startingOffset=0</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>


