<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="hide-it.xsl" type="text/xsl"?>

<item>
<title>Bein Sports 1 (English)</title>
<link>https://www.livedoomovies.com/02_epl1_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 1 (English)</title>
<link>http://77.83.117.60:8888/02_epl1_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>
 
<item>
<title>Bein Sports 2 (English)</title>
<link>https://www.livedoomovies.com/02_epl2_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 2 (English)</title>
<link>http://77.83.117.60:8888/02_epl2_720p_UK/chunklist.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 1</title>
<link>http://ostv.site:8080/live/zero/zero/4.ts</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 2</title>
<link>http://xxx.buneamkya.xyz//72fe9bb58e02e669273c902c1f48f501/602/v.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 3</title>
<link>http://xxx.buneamkya.xyz//72fe9bb58e02e669273c902c1f48f501/603/v.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports 4</title>
<link>http://xxx.buneamkya.xyz//72fe9bb58e02e669273c902c1f48f501/604/v.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports Max 1</title>
<link>http://xxx.buneamkya.xyz//72fe9bb58e02e669273c902c1f48f501/805/v.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>

<item>
<title>Bein Sports Max 2</title>
<link>http://xxx.buneamkya.xyz//72fe9bb58e02e669273c902c1f48f501/806/v.m3u8</link>
<thumbnail>https://i.imgur.com/Cs0W7a1.png</thumbnail>
<fanart>https://i.imgur.com/wulr4GL.jpg</fanart>
</item>
